.menu {
   position: absolute;
   top: 17px;
   right: 12px;
   z-index: 1;
   background: black;
   padding: 10px;
}
.menuPage {
   position: absolute;
   width: 100%;
   background: rgba(0, 0, 0, 0.97);
   height: 60%;
   z-index: 100;
   box-shadow: 0 5px 10px 15px rgba(0, 0, 0, 0.85);
   top: 0;
   transition: all 0.5s;
   transform: translateY(-100%);
}
.animate {
   transform: translateY(0);
}
.menuContainer {
   transition: all 0.5s;
   width: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.menuPage a {
   text-decoration: none;
   color: gold;
   background: rgba(255, 255, 255, 0.05);
   padding: 5px;
   border-radius: 5px;
   display: block;
   margin: 10px 0;
}
.menuPage .orderbuttons {
   /* margin: auto; */
   display: flex;
   /* width: 120%; */
   align-items: center;
   justify-content: center;
}
.menuPage .orderbuttons a {
   background: none;
}
.closebtn {
   color: gold;
   display: absolute;
}

.menuPage small {
   font-weight: bold;
   box-shadow: 0 2px 2px 2px rgba(255, 99, 71, 0.24);
}
.menuPage small a {
   display: inline-block;
   margin-left: 5px;
   /* color: skyblue; */
}
