.App {
   text-align: center;
   height: 100vh;
   position: relative;
}
.banner {
   width: 100%;
   height: 68px;
   position: absolute;
   top: 0;
   right: 0;
}
@import "./styles/menu.css";
@import "./styles/greet.css";
@import "./styles/contacts.css";
@import "./styles/order.css";
@import "./styles/price.css";

.buttons {
   display: flex;
   position: fixed;
   bottom: 0;
   color: rgba(0, 0, 0, 0.349);
   width: 100%;
   /* max-width: 500px; */
   align-items: center;
   justify-content: center;
   background: black;
   border-radius: 10px;
   padding: 13px 0;
}

.about,
.home,
.order {
   transition: all 0.7s ease-in-out;
   opacity: 0;
}
.blur {
   backdrop-filter: blur(8px);
}
.logo {
   display: none;
}

@media screen and (min-width: 700px) {
   .banner {
      height: 50px;
      position: absolute;
      width: 35%;
      border-radius: 10px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 3px;
   }
   .greet {
      padding: 10px;
   }
   .menuPage {
      height: 20%;
      align-items: center;
      justify-content: center;
   }
   .menuContainer {
      display: flex;
      top: 65%;
   }
   .menuContainer * {
      display: inline-block;
      width: 100px;
      margin: auto;
      /* height: 50px; */
   }
}
